*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
i{
    font-style: normal;
}

//吸顶效果
.fileheader{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    display: none;
    box-shadow: 0 3px 3px #eee;
    .wrap{
        width: 1190px;
        height: 70px;
        padding-right: 10px;

        margin: 0 auto;
        .fen{
            width: 52px;
            float: left;
            margin-top: 11px;
            margin-right: 25px;
            position: relative;
            text-align: center;
            cursor: pointer;
            .navtite{
                    line-height: 20px;
                    font-family: 'Microsoft YaHei';
                    font-size: 12px;
                    color: #333;
            }
            .navicon{
                    width: 52px;
                    height: 39px;
                    line-height: 30px;
                    font-size: 20px;
                    background: #fff url(//img.iblimg.com/respc-1/resources/v4.1/widget/fileheader/i/filenavicon-1.png) no-repeat center 7px;
                    color: #bbb;
                    position: relative;
                    &:hover{
                        background: black url(//img.iblimg.com/respc-1/resources/v4.1/widget/fileheader/i/filenavicon-1.png) no-repeat center 7px;
                        color: #fff;
                        .L-show{
                            display: block;
                        }
                    }
            }
            .L-show{
                    position: absolute;
                    left: 0;
                    top: 39px;
                    z-index: 9999;
                    width: 203px;
                    height: 422px;
                    background: #353b33;
                    padding: 8px 0 0 0;
                    display: none;
                    ul{

                        li{
                            height: 29px;
                            line-height: 29px;
                            width: 203px;
                             &:hover{
                                .L-show-show{
                                    display: flex;
                                }
                            }
                            .L-show-show{
                                display: none;
                                width: 990px;
                                height: 429px;
                                background: #fff;
                                position: absolute;
                                z-index: 9;
                                left: 203px;
                                top: 0;
//                              display: flex;
                                border: 1px solid #dfdfdf;
                                .L-show-left{
                                    width: 719px;
                                    height: 432px;
                                    float: left;
                                }
                                .L-show-right{
                                    width: 240px;
                                    height: 422px;
                                    img{
                                        width: 240px;
                                        height: 203px;
                                        display: inline-block;
                                        margin-top: 5px;
                                    }
                                }
                                ol{
                                    width: auto;
                                    height: auto;
                                    float: left;
                                    li{
                                        width: 719px;
                                        margin: 10px 0 0 5px;
                                        height: auto;
                                        text-align: left;
                                        &:hover{
                                            background: none;
                                        }
                                        span{
                                            font-size: 14px;
                                            font-weight: 700;
                                            color: black;
                                        }
                                        a{
                                            color: #666666;
                                        }
                                        
                                    }
                                }
                            }
                            a{
                                font-size: 10px;
                                color: #fff;
                                margin-left: 12px;
                                line-height: 29px;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            i{
                                width: 14px;
                                height: 12px;
                                float: left;
                                margin-top: 3px;
                                margin-left: 13px;
                            }
                            &:hover{
                                background: #999;
                            }
                        }
                    }
                }
        }
        .hear-logo{
                float: left;
                margin-top: 9px;
                width: 380px;
        }
        .search{
                float: left;
                height: 35px;
                margin-top: 17px;
                position: relative;
                input{
                    border: 2px #ff3d3d solid;
                    border-right: none;
                    width: 406px;
                    height: 31px;
                }
                button{
                        width: 85px;
                        height: 35px;
                        border: 0;
                        margin-top: 1px;
                        background: #ff3d3d;
                        color: #fff;
                }
        }
        .fileheader-login{
            float: right;
            line-height: 70px;
            font-family: 'Microsoft YaHei';
            font-size: 15px;
            margin-left: 5px;
            span{
                padding: 0 6px;
            }
            a{
                max-width: 91px;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: inline-block;
                &:hover{
                    color: red;
                }
            }
        }
    }
}

//最头部
.test-normal {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: transform .5s;
}
            
.test-inverse {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform .5s;
}
.head{
    height: 30px;
    background: #f7f7f7;
    font-size: 12px;
    
    .wrap{
        width: 1190px;
        margin: 0 auto;
        .bl-name{
            background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/bl_logo_m.png) 2px center no-repeat;
            padding: 0 10px 0 18px;
            height: 30px;
            line-height: 30px;
            color: #8d8d8d;
            width: 156px;
            font-size: 12px;
            float: left;
        }
        .bl-left{
             position: relative;
             float: left;
             text-align: center;
             height: auto;
             .gang{
                 margin-right: 10px;
                 line-height: 30px;
                 color: #999;
             }
             &:hover{
                    background: #fff;
                    box-shadow: 0 0 2px #CCC;
                    .bl-left-show{
                        border-top: none;
                        padding-top: 1px;
                        display: block;
                        position: absolute;
                        z-index: 2;
                    }
                }
            a{
                color: #666;
                padding: 0 10px;
                height: 30px;
                line-height: 30px;
                
            }
            span{
                float: left;
                
            }
            i{
                float: left;
                display: inline-block;
                width: 7px;
                height: 4px;
                margin-left: 7px;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
                margin-top: 13px;
            }
            .bl-left-show{
                position: absolute;
                background-color: #fff;
                border: 1px solid #e2e2e2;
                top: 30px;
                left: -1px;
                display: none;
//              box-shadow: 0 0 2px #CCC;
                dl{
                    width: 222px;
                    line-height: 24px;
                    
                    dd{
                        float: left;
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }
        .xiao{
            float: left;
            line-height: 30px;
            a{
                color: #666;
                font-family: 'Microsoft YaHei'
            }
               
        }
        .bl-right{
            float: right;
            line-height: 30px;
            .youjian{
                margin-right: 5px;
                line-height: 30px;
                position: relative;
                top: -12px;
                left: -5px;
                
            }
            .denglu{
                margin-right: 20px;
            }
            a{
                color: black;
            }
            i{
                float: right;
                display: inline-block;
                width: 7px;
                height: 4px;
                margin-left: 7px;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
                margin-top: 13px;
            }
            b{
                position: absolute;
                width: 1px;
                height: 12px;
                display: block;
                top: 9px;
                right: -1px;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -28px;
                z-index: 2;
            }
            li{
                float: left;
                position: relative;
                &:hover{
                    background: #FFf;
                    .right-hdi{
                        display: block;
                        border-top: none;
                        padding-top: 1px;
                        position: absolute;
                        z-index: 2000;
                    }
                    .divshow{
                        display: block;
                        border-top: none;
                        padding-top: 1px;
                        position: absolute;
                        z-index: 2000;
                    }
                    .right-suidian{
                        display: block;
                        border-top: none;
                        padding-top: 1px;
                        position: absolute;
                        z-index: 2000;
                    }
                }
                a:hover{
                    color: red;
                }
                .leftfont{
                    margin: 0 10px;
                }
                .right-hdi{
                    display: none;
                    border: 1px solid #e2e2e2;
                    background: #fff;
                    dd{
                        margin-left: 10px;
                    }
                }
                .right-suidian{
                    position: absolute;
                    background: #fff;
                    border: 1px solid #e2e2e2;
                    width: 450px;
                    padding: 15px;
                    left: 50%;
                    margin-left: -240px;
                    padding-bottom: 30px;
                    display: none;
                    .right-sui{
                        width: 450px;
                    }
                    dd{
                        float: left;
                        height: 126px;
                        padding-right: 16px;
                        padding-left: 20px;
                        background: url(../img/zuce/dingxu.gif) no-repeat right;
                        a{
                            display: block;
                        }
                    }
                }
                .divshow{
                        width: 310px;
                        left: 50%;
                        margin-left: -214px;
                        border: 1px solid #e2e2e2;
                        overflow: hidden;
                        position: absolute;
                        display: none;
                        background: #fff;
                }
                .right-rig{
                    float: left;
                    margin-left: 8px;
                    width: 141px;
                    text-align: center;
                    padding: 20px 0 4px;

                    img{
                        width: 100px;
                        height: 100px;
                    }
                    .right-top{
                        line-height: 20px;
                    }
                    .right-hong{
                        color: red;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

//logo

.header{
    height: 96px;
    overflow: hidden;
    clear: both;
    .wrap{
        height: 96px;
        width: 1190px;
        margin: 0 auto;
        position: relative;
    }
    .logo{
        width: 410px;
        height: 60px;
        float: left;
        margin-top: 18px;
        .logo1{
            width: 190px;
            float: left;
        }
        .logo2{
            margin-left: 25px;
        }
    }
    .header-r{
        margin-top: 28px;
        position: absolute;
        right: 0;
    }
    .input-input{
        float: left;
        input{
            border: 2px #ff3d3d solid;
            border-right: none;
            width: 406px;
            height: 31px;
        }
        button{
            width: 85px;
            height: 35px;
            border: 0;
            margin-top: 1px;
            background: #ff3d3d;
            color: #fff;
        }
       
    }
    .zhi{
        float: left;
        margin-right: 86px;
        a{
            border: 1px solid #ebebeb;
            line-height: 33px;
            margin-left: 52px;
            height: 33px;
            display: inline-block;
            padding: 0 19px 0 12px;
            background: url(../img/zuce/kayou.gif) no-repeat 138px;
        }
    }
    .tui{
        width: 490px;
        height: 28px;
        clear: both;
        line-height: 28px;
        overflow: hidden;
        font-family: 'Microsoft YaHei';
        margin-left: -5px;
            a{
                font-size: 10px;
                margin-right: 5px;
                margin-left: 5px;
                color: #999;
                &:hover{
                    color: red;
                }
            }
    
        }
}

//banner图
.banner{
    width: 100%;
    height: 430px;
    position: relative;
    .banner-right{
        height: 420px;
        width: 215px;
        background: #fff;
        position: absolute;
        left: 50%;
        top:5px;
        margin-left: 393px;
        z-index: 99;
        font-size: 12px;
        .rig-header{
            .tou{
                    vertical-align: -25px;
                    margin-right: 10px;
                    border-radius: 50%;
                    width: 46px;
                    height: 46px;
                    margin-left: 14px;
                    margin-top: 16px;
            }
            button{
                color: #ff6f6f;
                background: #fff3f5;
                border: none;
                width: 185px;
                height: 26px;
                margin-left: 14px;
                &:hover{
                    color: #fff;
                    background: #ff6f6f;
                }
            }
            .ddd{
                position: relative;
                top: -17px;
                left: 70px;
            }
            a:hover{
                color: red;
            }
        }
    }
    .rig-zhong{
            height: 110px;
            margin: 10px 15px 0;
            font-family: '\5FAE\8F6F\96C5\9ED1';
            background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/ban_tit11.png) no-repeat 0 0;
            position: relative;
            overflow: hidden;
            .geng{
                color: #999999;
                float: right;
            }
            ol{
                height: 75px;
                margin-top: 30px;
                line-height: 25px;
                a{
                    color: black;
                    &:hover{
                        color: red;
                    }
                }
            }
    }
    .right-bottom{
        border-top: 1px solid #f2f2f2;
        margin-top: 12px;
        li{
            width: 71px;
            float: left;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
            text-align: center;
            padding-top: 7px;
            height: 53px;
            a{
                display: block;
                text-align: center;
               div{
                    width: 42px;
                    height: 28px;
                    margin-left: 16px;
               }
            }
        }
    }
    .banner-wrap{
        width: 100%;
        height: 430px;
        margin: 0 auto;
        position: relative;
        ul{
            position: relative;
            li{
                width: 100%;
                height: 430px;
                position: absolute;
                background-image: none;
                a{
                    background-size: auto 100%;
                    display: block;
                    position: absolute;
                    left: 50%;
                    margin-left: -392px;
                    img{
                        height: 430px;
                    }
                }
            }
        }
        ol{
            position: absolute;
            bottom:10px;
            width: 190px;
            left: 50%;
            margin-left: -95px;
            li{
                float: left;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                text-align: center;
                border-radius: 50%;
                cursor: default;
                background-color: #abc;
            }
            .current{
                background-color: pink;
            }
        }
    }
}

//nav
.nav{
    .wrap{
        width: 1190px;
        height: 35px;
        margin: 0 auto;
        ul{
            .ii{
                display: inline-block;
                width: 14px;
                height: 12px;
                float: left;
                margin-top: 12px;
                margin-left: 13px;
                background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav1200_sprite.png) no-repeat 0 -101px;
            }
            .iia{
                padding: 0 60px 0 20px;
                color: #fff;
            }
            li{
                float: left;
            }
            .nav-L{
                background: #151515;
                line-height: 35px;
                position: relative;
                .L-show{
                        position: absolute;
                        left: 0;
                        top: 35px;
                        z-index: 999;
                        width: 203px;
                        height: 422px;
                        background: #353b33;
                        padding: 8px 0 0 0;
                    ul{

                        li{
                            height: 29px;
                            line-height: 29px;
                            width: 203px;
                            &:hover{
                                .L-show-show{
                                    display: flex;
                                }
                            }
                            .L-show-show{
                                display: none;
                                width: 990px;
                                height: 429px;
                                background: #fff;
                                position: absolute;
                                z-index: 9;
                                left: 203px;
                                top: 0;
//                              display: flex;
                                border: 1px solid #dfdfdf;
                                .L-show-left{
                                    width: 719px;
                                    height: 432px;
                                    float: left;
                                }
                                .L-show-right{
                                    width: 240px;
                                    height: 422px;
                                    img{
                                        width: 240px;
                                        height: 203px;
                                        display: inline-block;
                                        margin-top: 5px;
                                    }
                                }
                                ol{
                                    width: auto;
                                    height: auto;
                                    float: left;
                                    li{
                                        width: 719px;
                                        margin: 10px 0 0 5px;
                                        height: auto;
                                        &:hover{
                                            background: none;
                                        }
                                        span{
                                            font-size: 14px;
                                            font-weight: 700;
                                        }
                                        a{
                                            color: #666666;
                                        }
                                        
                                    }
                                }
                            }
                            a{
                                font-size: 10px;
                                color: #fff;
                                margin-left: 12px;
                                line-height: 29px;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            i{
                                width: 14px;
                                height: 12px;
                                float: left;
                                margin-top: 3px;
                                margin-left: 13px;
                            }
                            &:hover{
                                background: #999;
                            }
                        }
                    }
                }
                
            }
            .nav-r{
                padding: 0 18px;
                line-height: 35px;
                text-align: center;
                a{
                    color: black;
                    font-weight: 700;
                }
                a:hover{
                    color: red;
                }
            }
        }
    }
}


//banner图下的nav
.banner-bottom{
    padding-top: 22px;
    .wrap{
        width: 1190px;
        margin: 0 auto;
        height: 666px;
//      background: pink;
        .chao{
            float: left;
            width: 224px;
            height: 250px;
        }
        .box{
            float: right;
            position: relative;
            overflow: hidden;
            width: 966px;
            height: 250px;
            border: 1px solid #ebebeb;
            border-left: none;
            box-sizing: border-box;
            .box-right{
                display: block;
                width: 20px;
                height: 50px;
                position: absolute;
                right: 0;
                top: 100px;
                z-index: 10;
                background: #e5e5e5 url(../img/index/youjian.png) no-repeat center;
            }
            .box-left{
                display: none;
                width: 20px;
                height: 50px;
                position: absolute;
                left: 0;
                top: 100px;
                z-index: 10;
                background: #e5e5e5 url(../img/index/zuojian.png) no-repeat center;
            }
        }
        .box-list{
            width: 1932px;
            position: absolute;
            left: 0;
            li{
                width: 160px;
                height: 249px;
                float: left;
                z-index: 30;
                border-right: 1px #999 dashed;
                text-align: center;
                div{
                    width: 154px;
                    height: 154px;
                    line-height: 154px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                img{
                    width: 140px;
                    height: 140px;
                    display: block;
                }
                p{
                    line-height:20px;
                    height: 40px;
                    overflow: hidden;
                    font-size: 14px;
                    display: inline-block;
                    margin-left: 8px;
                    width: 150px;
                }
                span{
                    color: red;
                    float: left;
                    font-weight: 700;
                    margin-left: 8px;
                    margin-top: 5px;
                }
                i{
                    float: left;
                    font-size: 12px;
                    color: #999;
                    margin-left: 8px;
                    margin-top: 8px;
                }
            }
        }
        .box-xia{
            clear: both;
            padding-top: 20px;
            height: 390px;
            width: 1190px;
        }
        .xia-left{
            float: left;
            width: 305px;
            height: 370px;
            background: red;
            overflow: hidden;
            position: relative;
            img{
                width: 305px;
                height: 370px;
            }
            .xia-ul{
                width: 100%;
                position: absolute;
                display: flex;
                li{
                    float: left;
                    width: 305px;
                }
            }
            .xia-ol{
                li{
                    width: 30px;
                    height: 6px;
                    background: #fff;
                    position: relative;
                    z-index: 20;
                    float: left;
                    top: 340px;
                    left: 42px;
                    a{
                        display: block;
                        height: 6px;
                    }
                }
            }
        }
        .xia-right{
            float: left;
            ul{
                width: 885px;
                height: 370px;
                float: left;
                li{
                    line-height: 285px;
                    width: 285px;
                    height: 180px;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    float: left;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    a{
                    }
                    img{
                        width: 285px;
                        height: 180px;
                        display: block;
                    }
                }
            }
        }
    }
}

//foor楼层
.floor1{
//  background: red;
    padding-bottom: 20px;
    .wrap{
        width: 1190px;
        margin: 0 auto;
        height: 514px;
//      background: pink;
        h3{
            height: 50px;
            overflow: hidden;
            font-weight: 600;
            color: #333;
            line-height: 50px;
            font-size: 26px;
            font-family: 'Microsoft YaHei';
        }
        .floor1-left{
            float: left;
            width: 305px;
            height: 464px;
            overflow: hidden;
            position: relative;
            img{
                width: 306px;
                height: 464px;
            }
            .xia-ul{
                width: 100%;
                position: absolute;
                display: flex;
                li{
                    float: left;
                    width: 305px;
                    height: 430px;
                }
            }
            .xia-ol{
                li{
                    width: 30px;
                    height: 6px;
                    background: #fff;
                    position: relative;
                    z-index: 20;
                    float: left;
                    top: 340px;
                    left: 42px;
                    a{
                        display: block;
                        height: 6px;
                        width: 20px;
                    }
                }
            }
        }
        .floor1-right{
            width: 884px;
            height: 464px;
            float: left;
            ul{
                img{
                    display: block;
                }
                .fast-img{
                    width: 442px;
                    height: 300px;
                }
                .fast2-img{
                    width: 221px;
                    height: 300px;
                }
                .last-img{
                    background: #FFF;
                    width: 221px;
                    height: 164px;
                    img{
                        margin-top: 30px;
                        width: 220px;
                        height: 97px;
                    }
                }
                li{
                    overflow: hidden;
                    float: left;
                    box-sizing: border-box;
                    border-bottom: 1px solid #ebebeb;
                    border-right: 1px solid #ebebeb;
                }
            }
        }
    }
}

//二楼
.floor2{
//  background: red;
     padding-bottom: 20px;
    .wrap{
        width: 1190px;
        margin: 0 auto;
        height: 514px;
//      background: pink;
        h3{
            height: 50px;
            overflow: hidden;
            font-weight: 600;
            color: #333;
            line-height: 50px;
            font-size: 26px;
            font-family: 'Microsoft YaHei';
        }
        .floor2-left{
            float: left;
            width: 305px;
            height: 464px;
            overflow: hidden;
            position: relative;
            img{
                width: 306px;
                height: 464px;
            }
            .xia-ul{
                width: 100%;
                position: absolute;
                display: flex;
                li{
                    float: left;
                    width: 305px;
                    height: 430px;
                }
            }
            .xia-ol{
                li{
                    width: 30px;
                    height: 6px;
                    background: #fff;
                    position: relative;
                    z-index: 20;
                    float: left;
                    top: 340px;
                    left: 42px;
                    a{
                        display: block;
                        height: 6px;
                        width: 20px;
                    }
                }
            }
        }
        .floor2-right{
            width: 884px;
            height: 464px;
            float: left;
            ul{
                border-top: 2px solid #ebebeb;
                img{
                    display: block;
                }
                .fast2-img{
                    width: 221px;
                    height: 300px;
                }
                .last-img{
                    background: #FFF;
                    width: 221px;
                    height: 164px;
                    img{
                        margin-top: 30px;
                        width: 220px;
                        height: 97px;
                    }
                }
                li{
                    overflow: hidden;
                    box-sizing: border-box;
                    float: left;
                    border-right: 1px solid #ebebeb;
                    border-bottom: 1px solid #ebebeb;
                }
            }
        }
    }
}

//公共部分
@mixin lou-left{
            float: left;
            width: 305px;
            height: 464px;
            overflow: hidden;
            position: relative;
            img{
                width: 306px;
                height: 464px;
            }
            .xia-ul{
                width: 100%;
                position: absolute;
                display: flex;
                li{
                    float: left;
                    width: 305px;
                    height: 430px;
                }
            }
            .xia-ol{
                li{
                    width: 30px;
                    height: 6px;
                    background: #fff;
                    position: relative;
                    z-index: 20;
                    float: left;
                    top: 340px;
                    left: 42px;
                    a{
                        display: block;
                        height: 6px;
                        width: 20px;
                    }
                }
            }
}
@mixin lou-right{
            width: 884px;
            float: left;
            ul{
                border-top: 2px solid #ebebeb;
                img{
                    display: block;
                }
                .fast2-img{
                    width: 221px;
                    height: 300px;
                }
                .last-img{
                    background: #FFF;
                    width: 221px;
                    img{
                        width: 220px;
                        height: 97px;
                    }
                }
                li{
                    overflow: hidden;
                    box-sizing: border-box;
                    float: left;
                    border-right: 1px solid #ebebeb;
                    border-bottom: 1px solid #ebebeb;
                }
            }
}
@mixin lou-right-borrom{
        width: 883px;
        float: left;
        border-bottom: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        a{
            float: left;
            width: 147px;
            height: 62px;
            text-align: center;
            line-height: 6;
        }
}
//3楼
.floor3{
//  background: red;
     padding-bottom: 20px;
    .wrap{
        width: 1190px;
        margin: 0 auto;
        height: 514px;
//      background: pink;
        h3{
            height: 50px;
            overflow: hidden;
            font-weight: 600;
            color: #333;
            line-height: 50px;
            font-size: 26px;
            font-family: 'Microsoft YaHei';
        }
        .sanmin-left{
            @include lou-left;
        }
        .sanmin-right{
            @include lou-right
        }
        .sanmin-bottom{
            @include lou-right-borrom;
        }
    }
}

@mixin loubig-right{
            width: 884px;
            float: left;
            .sanbig-right-top{
                width: 883px;
                height: 301px;
                display: flex;
                border-top: 2px solid #ebebeb;
                border-right: 1px solid #ebebeb;
                border-bottom: 1px solid #ebebeb;
            }
            .sanbig-big{
                width: 442px;
                height: 300px;
                overflow: hidden;
               border-right: 2px solid #ebebeb;
               border-bottom: 2px solid #ebebeb;
            }
            .sanbing-zhong{
                width: 221px;
                height: 300px;
                overflow: hidden;
                border-right: 1px solid #ebebeb;
            }
            .sanbing-rig{
                width: 220px;
                height: 300px;
                overflow: hidden;
                a{
                    width: 220px;
                    height: 151px;
                    display: block;
                    img{
                        margin-top: 25px;
                    }
                }
            }
            ul{
                img{
                    display: block;
                }
                .fast2-img{
                    width: 221px;
                    height: 300px;
                }
                .last-img{
                    background: #FFF;
                    width: 221px;
                    img{
                        width: 220px;
                        height: 97px;
                    }
                }
                li{
                    overflow: hidden;
                    box-sizing: border-box;
                    float: left;
                    border: 1px solid #ebebeb;
                    border-left: none;
                }
            }
}
//4楼
.floor4{
//  background: red;
     padding-bottom: 20px;
    .wrap{
        width: 1190px;
        margin: 0 auto;
        height: 514px;
//      background: pink;
        h3{
            height: 50px;
            overflow: hidden;
            font-weight: 600;
            color: #333;
            line-height: 50px;
            font-size: 26px;
            font-family: 'Microsoft YaHei';
        }
        .sanmin-left{
            @include lou-left;
        }
        .sanbig-right{
            @include loubig-right;
        }
        .sanmin-bottom{
            @include lou-right-borrom;
        }
    }
}

//楼层号
.loucheng{
    position: fixed;
    display: none;
    top: 52%;
    overflow: hidden;
    float: left;
    right: 50%;
    width: 50px;
    height: 449px;
    z-index: 999;
    margin-right: 602px;
    margin-top: -230px;
    background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/barnav3.jpg) no-repeat 0 0;
    a{
        display: block;
        width: 30px;
        height: 42px;
        line-height: 16px;
        padding: 0 10px;
        padding-top: 7px;
        text-align: center;
        color: black;
        font-family: '微软雅黑';
        font-size: 10px;
        &:hover{
            background: #ff6f6f;
        }
    }
    .louhua{
        background: #ff6f6f;
    }
    .loulast{
        background: url(../img/index/top.png) no-repeat center 5px;
        padding-top: 20px;
    }
}

//猜你喜欢
.like{
    height: auto;
    .wrap{
        width: 1190px;

        margin: 0 auto;
        background: pink;
        .like-like{
            text-align: center;
            font-size: 24px;
            height: 30px;
            background: red;
            line-height: 24px;
            background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/guess_bg.jpg) repeat-x 0 center;
            .love{
                width: 255px;
                padding-left: 65px;
                height: 30px;
                margin: 0 auto;
                background: #fff url(//img.iblimg.com/respc-1/resources/v4.2/css/i/guess_love.jpg) no-repeat 30px center;
            }
            span{
                margin-left: 5px;
                font-size: 16px;
                color: #999;
            }
        }
        .featured_log{
                text-align: right;
                margin-bottom: 14px;
                font-size: 14px;
                font-family: 微软雅黑;
                color: rgb(153, 153, 153);
                padding-right: 5px;
                a{
                    color: #ff6f6f;
                }
        }
        .like-ol{
            background: #fff;
            height: auto;
            overflow: hidden;
            li{
                height: 338px;
                width: 226px;
                background: #fff;
                margin: 0 5px;
                float: left;
                border: 1px solid #e4e4e4;
                .a-img{
                    img{
                        margin-left: 3px;
                        margin-top: 2px;
                    }
                }
                p{
                    height: 42px;
                    font-size: 14px;
                    padding: 0 11px;
                    line-height: 21px;
                    overflow: hidden;
                    a{
                        font-size: 14px;
                        color: #666666;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
                .like-money{
                    padding: 0 11px;
                    height: 26px;
                    margin-top: 3px;
                    font-size: 12px;
                    color: #ff6f6f;
                    a{
                        float: right;
                        padding: 0 10px 0 25px;
                        height: 20px;
                        margin-top: 3px;
                        line-height: 18px;
                        border: 1px solid #eee;
                        border-radius: 11px;
                        color: #999;
                        background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/guess_ic1.jpg) no-repeat 7px 4px;
                       &:hover{
                           color: #ff6f6f;
                           background-position: 7px -27px;
                       }
                    }
                }
            }
        }
    }
}

//右侧的固定登录购物车
.right-slidebar{
    width: 314px;
    height: 100%;
    background: #f2f2f2;
    position: fixed;
    z-index: 99999;
    right: -276px;
    top: 0;
    .slidebar-min{
        width: 38px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999999;
        height: 100%;
        background: black;
        .lenav{
            background: #d62233;
        }
        .jian-right{
                position: absolute;
                top: 14px;
                right: 0;
                display: none;
                width: 6px;
                height: 12px;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -108px;
                border: 0;
            }
        .jian-left{
            position: absolute;
            top: 14px;
            left: 0;
            display: none;
            width: 6px;
            height: 12px;
            background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat -6px -108px;
            border: 0;
        }
        p{
            display: none;
            position: absolute;
            width: 86px;
            font-size: 14px;
            right: 0px;
            text-align: center;
            background: #fff;
            height: 40px;
            line-height: 40px;
            top: 0;
            z-index: -50;
        }
        .shouchang{
            top: 200px;
            width: 38px;
            height: 40px;
            position: relative;
            i{
                display: block;
                height: 100%;
                width: 100%;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -40px;
            }
        }
        .gouwu{
            width: 43px;
            background: #FFF;
            position: relative;
            top: 183px;
            left: -5px;
            z-index: 99999;
            background-color: #333;
            font-family: 'Microsoft YaHei';
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;
            height: 174px;
            i{
                width: 24px;
                height: 18px;
                margin-left: 12px;
                margin-top: 36px;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -365px;
                display: inline-block;
            }
            span{
                margin-top: 10px;
                line-height: 15px;
                display: block;
                font-size: 14px;
                color: #fff;
                margin-left: 14px;
            }
            b{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #e6133c;
                text-align: center;
                display: block;
                line-height: 18px;
                color: #FFF;
                margin-top: 10px;
                color: #fff;
                margin-left: 12px;
            }
        }
        .touxiang{
            position: relative;
            top: 137px;
            width: 38px;
            height: 40px;
            i{
                display: block;
                height: 100%;
                width: 100%;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 0;
            }
        }
        .lishi{
           top: 201px;
            width: 38px;
            height: 40px;
            position: relative;
           i{
                display: block;
                height: 100%;
                width: 100%;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -80px;
            }
        }
        .kefu{
           top: 322px;
            width: 38px;
            height: 40px;
            position: relative;
            i{
                display: block;
                height: 100%;
                width: 100%;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -240px;
            }
        }
        .TOP{
            top: 322px;
            width: 38px;
            height: 40px;
            position: relative;
           i{
                display: block;
                height: 100%;
                width: 100%;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -320px;
            }
        }
        .erweima{
            top: 320px;
            width: 38px;
            height: 40px;
            position: relative;
           i{
                display: block;
                height: 100%;
                width: 100%;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_out.png) no-repeat 0 -200px;
            }
            P{
                display: none;
                position: absolute;
                right: 0;
                top: -135%;
                width: 150px;
                z-index: -100;
                img{
                    width: 100%;
                }
            }
        }
    }
    .slidebar-box{
        width: 276px;
        height: 100%;
        position: absolute;
        z-index: 99999;
        top:0;
        right: 0;
        .box-top{
            height: 44px;
            background: #f2f2f2;
            line-height: 44px;
            .box-jian{
                position: absolute;
                left: 0;
                top: 0;
                background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/sidebar/i/sidebar_in.png) no-repeat 0 -44px;
                height: 16px;
                line-height: 16px;
                font-size: 16px;
                font-family: iconfont;
                width: 16px;
                margin: 14px 0 0 18px;
                cursor: pointer;
                color: #999;
            }
        }
        .box-bottom{
            height: 100%;
            width: 100%;
            background: #f2f2f2;
            ul{
                width: 240px;
                margin-left: 18px;
                li{
                    display: none;
                    font-size: 10px;
                    color: #333;
                    border: 1px solid #ffba22;
                    line-height: 18px;
                    background: #fffdeb url(//img.iblimg.com/respc-1/resources/v4.1/css/i/error0001.png) 7px 7px no-repeat;
                    padding: 5px 0 5px 30px;
                }
            }
            p{
                clear: both;
                float: right;
                font-size: 12px;
                color: #666666;
                margin-bottom: 15px;
                margin-right: 20px;
                margin-top: 8px;
            }
            .bottom-top{
                margin-top: 70px;
                line-height: 28px;
                padding-bottom: 32px;
                h3{
                    float: left;
                    font-size: 20px;
                    margin-left: 18px;
                    font-weight: 300;
                }
                a{
                    float: right;
                    margin-right: 16px;
                    font-size: 12px;
                }
            }
            form{
                margin-top: 14px;
                .input-box{
                    width: 240px;
                    height: auto;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    margin-left: 18px;

                }
                .inputt{
                    box-sizing: border-box;
                    width: 240px;
                    height: 38px;
                    border: 1px solid #cccccc;
                    padding-left: 38px;
                    background: #FFF url(//img.iblimg.com/respc-1/resources/v4.1/css/i/userpic.png) 10px center no-repeat;
                    
                }
                .inputt1{
                    background: #FFF url(//img.iblimg.com/respc-1/resources/v4.1/css/i/passwordpic.png) 10px center no-repeat;
                }
                .yanzheng{
                    float: left;
                    box-sizing: border-box;
                    width: 140px;
                    height: 38px;
                    border: 1px solid #cccccc;
                    padding-left: 38px;
                    background: #FFF url(//img.iblimg.com/respc-1/resources/v4.1/css/i/userpic.png) 10px center no-repeat;
                }
                .img-yan{
                    float: right;
                    img{
                        width: 100px;
                        height: 38px;
                    }
                }
                .btn{
                    width: 240px;
                    height: 38px;
                    background: #e6133c;
                    border: none;
                    color: #fff;
                    font-size: 16px;
                    margin-left: 18px;
                    &:hover{
                        background: red;
                    }
                }
                
            }
        }
    }
}



@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
      url('iconfont.woff2') format('woff2'),
      url('iconfont.woff') format('woff'),
      url('iconfont.ttf') format('truetype'),
      url('iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}