* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  font-style: normal;
}

.test-normal {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: transform .5s;
}

.test-inverse {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform .5s;
}

.head {
  height: 30px;
  background: #f7f7f7;
  font-size: 12px;
}
.head .wrap {
  width: 1190px;
  margin: 0 auto;
}
.head .wrap .bl-name {
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/bl_logo_m.png) 2px center no-repeat;
  padding: 0 10px 0 18px;
  height: 30px;
  line-height: 30px;
  color: #8d8d8d;
  width: 156px;
  font-size: 12px;
  float: left;
}
.head .wrap .bl-left {
  position: relative;
  float: left;
  text-align: center;
  height: auto;
}
.head .wrap .bl-left .gang {
  margin-right: 10px;
  line-height: 30px;
  color: #999;
}
.head .wrap .bl-left:hover {
  background: #fff;
  box-shadow: 0 0 2px #CCC;
}
.head .wrap .bl-left:hover .bl-left-show {
  border-top: none;
  padding-top: 1px;
  display: block;
  position: absolute;
  z-index: 2;
}
.head .wrap .bl-left a {
  color: #666;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.head .wrap .bl-left span {
  float: left;
}
.head .wrap .bl-left i {
  float: left;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 7px;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
  margin-top: 13px;
}
.head .wrap .bl-left .bl-left-show {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  top: 30px;
  left: -1px;
  display: none;
}
.head .wrap .bl-left .bl-left-show dl {
  width: 222px;
  line-height: 24px;
}
.head .wrap .bl-left .bl-left-show dl dd {
  float: left;
}
.head .wrap .bl-left .bl-left-show dl dd:hover {
  color: red;
}
.head .wrap .xiao {
  float: left;
  line-height: 30px;
}
.head .wrap .xiao a {
  color: #666;
  font-family: "Microsoft YaHei";
}
.head .wrap .bl-right {
  float: right;
  line-height: 30px;
}
.head .wrap .bl-right .youjian {
  margin-right: 5px;
  line-height: 30px;
  position: relative;
  top: -12px;
  left: -5px;
}
.head .wrap .bl-right .denglu {
  margin-right: 20px;
}
.head .wrap .bl-right a {
  color: black;
}
.head .wrap .bl-right i {
  float: right;
  display: inline-block;
  width: 7px;
  height: 4px;
  margin-left: 7px;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
  margin-top: 13px;
}
.head .wrap .bl-right b {
  position: absolute;
  width: 1px;
  height: 12px;
  display: block;
  top: 9px;
  right: -1px;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -28px;
  z-index: 2;
}
.head .wrap .bl-right li {
  float: left;
  position: relative;
}
.head .wrap .bl-right li:hover {
  background: #FFf;
}
.head .wrap .bl-right li:hover .right-hdi {
  display: block;
  border-top: none;
  padding-top: 1px;
  position: absolute;
  z-index: 2000;
}
.head .wrap .bl-right li:hover .divshow {
  display: block;
  border-top: none;
  padding-top: 1px;
  position: absolute;
  z-index: 2000;
}
.head .wrap .bl-right li:hover .right-suidian {
  display: block;
  border-top: none;
  padding-top: 1px;
  position: absolute;
  z-index: 2000;
}
.head .wrap .bl-right li a:hover {
  color: red;
}
.head .wrap .bl-right li .leftfont {
  margin: 0 10px;
}
.head .wrap .bl-right li .right-hdi {
  display: none;
  border: 1px solid #e2e2e2;
  background: #fff;
}
.head .wrap .bl-right li .right-hdi dd {
  margin-left: 10px;
}
.head .wrap .bl-right li .right-suidian {
  position: absolute;
  background: #fff;
  border: 1px solid #e2e2e2;
  width: 450px;
  padding: 15px;
  left: 50%;
  margin-left: -240px;
  padding-bottom: 30px;
  display: none;
}
.head .wrap .bl-right li .right-suidian .right-sui {
  width: 450px;
}
.head .wrap .bl-right li .right-suidian dd {
  float: left;
  height: 126px;
  padding-right: 16px;
  padding-left: 20px;
  background: url(../img/zuce/dingxu.gif) no-repeat right;
}
.head .wrap .bl-right li .right-suidian dd a {
  display: block;
}
.head .wrap .bl-right li .divshow {
  width: 310px;
  left: 50%;
  margin-left: -214px;
  border: 1px solid #e2e2e2;
  overflow: hidden;
  position: absolute;
  display: none;
  background: #fff;
}
.head .wrap .bl-right li .right-rig {
  float: left;
  margin-left: 8px;
  width: 141px;
  text-align: center;
  padding: 20px 0 4px;
}
.head .wrap .bl-right li .right-rig img {
  width: 100px;
  height: 100px;
}
.head .wrap .bl-right li .right-rig .right-top {
  line-height: 20px;
}
.head .wrap .bl-right li .right-rig .right-hong {
  color: red;
  font-size: 10px;
}

.header {
  height: 96px;
  overflow: hidden;
  clear: both;
}
.header .wrap {
  height: 96px;
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.header .logo {
  width: 410px;
  height: 60px;
  float: left;
  margin-top: 18px;
}
.header .logo .logo1 {
  width: 190px;
  float: left;
}
.header .logo .logo2 {
  margin-left: 25px;
}
.header .header-r {
  margin-top: 28px;
  position: absolute;
  right: 0;
}
.header .input-input {
  float: left;
}
.header .input-input input {
  border: 2px #ff3d3d solid;
  border-right: none;
  width: 406px;
  height: 31px;
}
.header .input-input button {
  width: 85px;
  height: 35px;
  border: 0;
  margin-top: 1px;
  background: #ff3d3d;
  color: #fff;
}
.header .zhi {
  float: left;
  margin-right: 86px;
}
.header .zhi a {
  border: 1px solid #ebebeb;
  line-height: 33px;
  margin-left: 52px;
  height: 33px;
  display: inline-block;
  padding: 0 19px 0 12px;
  background: url(../img/zuce/kayou.gif) no-repeat 138px;
}
.header .tui {
  width: 490px;
  height: 28px;
  clear: both;
  line-height: 28px;
  overflow: hidden;
  font-family: 'Microsoft YaHei';
  margin-left: -5px;
}
.header .tui a {
  font-size: 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: #999;
}
.header .tui a:hover {
  color: red;
}

.nav {
  background: #151515;
}
.nav .wrap {
  width: 1190px;
  height: 35px;
  margin: 0 auto;
}
.nav .wrap ul .ii {
  display: inline-block;
  width: 14px;
  height: 12px;
  float: left;
  margin-top: 12px;
  margin-left: 13px;
  background: url(//img.iblimg.com/respc-1/resources/v4.1/widget/nav1200/i/nav1200_sprite.png) no-repeat 0 -101px;
}
.nav .wrap ul .iia {
  padding: 0 60px 0 20px;
  color: #fff;
}
.nav .wrap ul li {
  float: left;
}
.nav .wrap ul .nav-L {
  line-height: 35px;
  position: relative;
}
.nav .wrap ul .nav-L:hover .L-show {
  display: block;
}
.nav .wrap ul .nav-L .L-show {
  position: absolute;
  display: none;
  left: 0;
  top: 35px;
  z-index: 999;
  width: 203px;
  height: 422px;
  background: #353b33;
  padding: 8px 0 0 0;
}
.nav .wrap ul .nav-L .L-show ul li {
  height: 29px;
  line-height: 29px;
  width: 203px;
}
.nav .wrap ul .nav-L .L-show ul li:hover .L-show-show {
  display: flex;
}
.nav .wrap ul .nav-L .L-show ul li .L-show-show {
  display: none;
  width: 990px;
  height: 429px;
  background: #fff;
  position: absolute;
  z-index: 9;
  left: 203px;
  top: 0;
  border: 1px solid #dfdfdf;
}
.nav .wrap ul .nav-L .L-show ul li .L-show-show .L-show-left {
  width: 719px;
  height: 432px;
  float: left;
}
.nav .wrap ul .nav-L .L-show ul li .L-show-show .L-show-right {
  width: 240px;
  height: 422px;
}
.nav .wrap ul .nav-L .L-show ul li .L-show-show .L-show-right img {
  width: 240px;
  height: 203px;
  display: inline-block;
  margin-top: 5px;
}
.nav .wrap ul .nav-L .L-show ul li .L-show-show ol {
  width: auto;
  height: auto;
  float: left;
}
.nav .wrap ul .nav-L .L-show ul li .L-show-show ol li {
  width: 719px;
  margin: 10px 0 0 5px;
  height: auto;
}
.nav .wrap ul .nav-L .L-show ul li .L-show-show ol li:hover {
  background: none;
}
.nav .wrap ul .nav-L .L-show ul li .L-show-show ol li span {
  font-size: 14px;
  font-weight: 700;
}
.nav .wrap ul .nav-L .L-show ul li .L-show-show ol li a {
  color: #666666;
}
.nav .wrap ul .nav-L .L-show ul li a {
  font-size: 10px;
  color: #fff;
  margin-left: 12px;
  line-height: 29px;
}
.nav .wrap ul .nav-L .L-show ul li a:hover {
  text-decoration: underline;
}
.nav .wrap ul .nav-L .L-show ul li i {
  width: 14px;
  height: 12px;
  float: left;
  margin-top: 3px;
  margin-left: 13px;
}
.nav .wrap ul .nav-L .L-show ul li:hover {
  background: #999;
}
.nav .wrap ul .nav-r {
  padding: 0 18px;
  line-height: 35px;
  text-align: center;
}
.nav .wrap ul .nav-r:hover {
  background: red;
}
.nav .wrap ul .nav-r a {
  color: #fff;
  font-weight: 700;
}

.seller .wrap {
  clear: both;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  margin: 0 auto;
  width: 1190px;
  height: 80px;
  line-height: 80px;
}
.seller .wrap a {
  font-size: 10px;
}
.seller .wrap .seller-left {
  width: 630px;
  float: left;
  font-family: SimSun;
  line-height: 24px;
  padding-top: 13px;
}
.seller .wrap .seller-right {
  width: 506px;
  height: 49px;
  float: right;
  line-height: 50px;
}
.seller .wrap .seller-right i {
  font-family: SimSun;
  color: #999;
  margin-left: 10px;
  margin-right: 5px;
  float: right;
}
.seller .wrap .seller-right .ming {
  color: #333;
  display: block;
  float: right;
  width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}
.seller .wrap .seller-right .right-logo {
  display: block;
  border: 1px solid #eee;
  text-align: center;
  width: 120px;
  height: 46px;
  float: right;
}
.seller .wrap .seller-right img {
  width: 81px;
  height: 44px;
}

.page {
  margin-top: 30px;
}
.page .wrap {
  clear: both;
  width: 1190px;
  margin: 0 auto;
  height: 1000px;
  background: pink;
}
.page .wrap .product-box {
  width: 448px;
  height: 448px;
  border: 1px solid #eee;
  overflow: hidden;
}
.page .wrap .product-box .product-ul li {
  position: absolute;
}
.page .wrap .product-box .product-ul li img {
  width: 450px;
  height: 450px;
}
.page .wrap .product-olbox {
  width: 450px;
  height: 80px;
  margin-top: 15px;
  clear: both;
}
.page .wrap .product-olbox .left {
  float: left;
  background-position: -220px 0;
}
.page .wrap .product-olbox .right {
  float: right;
  background-position: -260px 0;
}
.page .wrap .product-olbox .product-oll {
  float: left;
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 80px;
  margin: 0;
  padding: 0 5px;
}
.page .wrap .product-olbox .product-ol {
  position: relative;
  width: 999999px;
  height: 80px;
  margin: 0;
}
.page .wrap .product-olbox .product-ol li {
  float: left;
  width: 90px;
  text-align: center;
}
.page .wrap .product-olbox .product-ol img {
  width: 80px;
  height: 80px;
}
.page .wrap .product-olbox a {
  display: block;
  width: 38px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  cursor: pointer;
  color: #ccc;
  background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/ie7-start.png) no-repeat;
  border: 1px solid #eee;
}

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff2") format("woff2"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

/*# sourceMappingURL=page.css.map */
