
/*注册css*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
i{
    font-style:normal
}
body{
    background: #f9f9f8;
    height: 100%;
}
html{
    height: 100%;
}
.top {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
}
.logo {
    float: left;
    margin-top: 29px;
}
.fl {
    float: left;
    display: inline;
    a:link{
    color: #666;
    text-decoration: none;
        }
}
//中间的
.zhong{
    height: auto;
    margin-top: 30px;
    .min{
        margin: 0px auto;
        width: 950px;
        height: 635px;
        background: #fff;
        border: 1px solid #e1dfda;
        .min-top{
                height: 30px;
                border-bottom: 1px solid #e1dfda;
                padding: 10px 20px;
                line-height: 30px;
        }
        .min-info{
                float: left;
                font-size: 16px;
                font-family: 'Microsoft YaHei';
                color: #ff002a;
        }
        .min-login{
            float: right;
            font-family: 'Microsoft YaHei';
            color: #63625d;
            font-size: 12px;
            a{
                color: blue;
            }
        }
    }
//  表单的外壳
    .min-bottom{
             height: auto;
             padding: 50px 0px 74px 191px;
//           background: red;
             .nei{
//               background: yellow;
                 height: auto;
                .ding{
                    position: relative;
                    height: auto;
                    .kuai{
                        padding: 10px 0px;
                        background: #fff;
                        overflow: hidden;
                        .name{
                            font-size: 15px;
                            font-family: 'Microsoft YaHei';
                            color: #333333;
                            float: left;
                            width: 136px;
                            text-align: right;
                            line-height: 36px;
                            i{
                              color: #df3d36;
                            }
                        }
                        .input-div{
                            float: left;
                            padding-left: 5px;
                            display: inline;
                            .input-input{
                                position: relative;
                                input{
                                    line-height: 34px;
                                    font-size: 16px;
                                    vertical-align: middle;
                                    padding: 0 10px 0 40px;
                                    text-indent: 0px;
                                    font-size: 12px;
                                    font-family: 'Microsoft YaHei';
                                    color: #000;
                                    width: 258px;
                                    height: 36px;
                                    border: 1px solid #cccccc;

                                }
                            }
                        }
                        .prompt{
                                margin-left: 10px;
                                float: left;
                                line-height: 36px;
                                li{
                                    display: none;
                                    margin: 0px;
                                    padding: 0px;
                                    list-style: none;
                                    font-family: 'Microsoft YaHei';
                                    i{
                                        float: left;
                                        width: 16px;
                                        line-height: 0px;
                                        height: 16px;
                                        margin-top: 10px;
                                    }
                                    span{
                                        padding-right: 6px;
                                        margin-left: 8px;
                                        display: inline;
                                        font-size: 12px;
                                    }
                                }
                        }
                        .index1{
                            background: url(../img/zuce/rentou.gif) no-repeat 10px 9px;
                        }
                        .index2{
                            background: url(../img/zuce/suo.gif) no-repeat 10px 9px;
                        }
                        .index3{
                            background: url(../img/zuce/shouji.gif) no-repeat 10px 9px;
                        }
                        .index4{
                            background: url(../img/zuce/youxiang.gif) no-repeat 10px 9px;
                        }
                        #yan{
                            width: 158px;
                            height: 36px;
                        }
                        .register-code{
                                float: left;
                                width: 90px;
                                height: 36px;
                                margin: 0 11px 0 10px;
                                img{
                                        width: 90px;
                                        height: 36px;
                                }
                        }
                        .ftx23{
                                float: left;
                                height: 36px;
                                line-height: 36px;
                                color: #706e69;
                                font-family: 'Microsoft YaHei';
                        }
                        .get-code{
                            line-height: 36px;
                            margin-left: 10px;
                            color: #999999;
                            button{
                                    margin-left: 10px;
                                    width: 90px;
                                    height: 36px;
                                    border: 1px solid #c8c8c8;
                                    background: #f5f5f5;
                                    cursor: pointer;
                            }
                        }
                    }
                }
             }
        #yanzheng{
            text-align: center;
            line-height: 36px;
        }
    }
//  中间底部注册
 .remember{
            height: 25px;
            padding-left: 140px;
            line-height: 18px;
            overflow: hidden;
            padding-top: 5px;
            color: #666666;
            background: #fff;
            font-size: 14px;
            label{
                float: left;
                cursor: pointer;
                outline: none;
                padding-right: 10px;
                i{
                    display: inline-block;
                    width: 11px;
                    height: 11px;
                    float: left;
                    margin-top: 2px;
                }
                span{
                        float: left;
                        margin-left: 24px;
                        display: inline;
                        font-family: 'Microsoft YaHei';
                }
            }
    }
    .register-button{
            padding-left: 134px;
            height: 36px;
            overflow: hidden;
            .sub{
                width: 300px;
                margin-left: 6px;
                color: #ffffff;
                background: #e6133c;
                font-size: 16px;
                height: 36px;
                -webkit-border-radius: 2px;
                cursor: pointer;
                border: 0;
                text-align: center;
                font-family: 'Microsoft YaHei';
                outline: none;
                &:hover{
                    background: #fa2244;
                }
            }
    }
}
//最底部
.footer{
    height: 200px;
    .nav{
        line-height: 24px;
        text-align: center;
        padding-top: 10px;
        color: #cccccc;
        font-size: 12px;
        span{
            margin: 0 12px;
        }
        a{
            color: black;
            &:hover{
                color: red;
            }
        }
    }
}
